In [1]:
import os, numpy as np
import pandas as pd

os.environ["KERAS_BACKEND"] = "tensorflow"

import keras 
from sklearn import datasets

from sklearn.model_selection import train_test_split

keras.backend.set_floatx('float64')

from keras.utils import np_utils
from keras.constraints import max_norm


def set_reproducible():
    import tensorflow as tf
    import random as rn
    import os
    os.environ['PYTHONHASHSEED'] = '1960'
    rn.seed(1960)
    np.random.seed(1960)
    session_conf = tf.ConfigProto(intra_op_parallelism_threads=1, inter_op_parallelism_threads=1)

    from keras import backend as K
    tf.set_random_seed(1960)

    sess = tf.Session(graph=tf.get_default_graph(), config=session_conf)
    # K.set_session(sess)

set_reproducible()

Using TensorFlow backend.

# Build a Keras Model

In [2]:
NC = 13

def create_model():
    from keras.models import Sequential
    from keras.layers import Dense, Activation, LSTM
    from keras.constraints import max_norm

    model = Sequential()
    model.add(LSTM(1, input_shape=(1, NC), batch_size=1 , 
                   activation='relu', recurrent_activation = 'hard_sigmoid', 
                   stateful=True,
                   kernel_constraint=max_norm(2.),
                   recurrent_constraint=max_norm(2.),
                   kernel_initializer = keras.initializers.Orthogonal(gain=0.1),
                   recurrent_initializer = keras.initializers.Zeros()))
    model.add(Dense(1, activation=None))
    adam_optimizer = keras.optimizers.Adam(lr=0.01, clipnorm=1.)
    model.compile(loss='mse', optimizer=adam_optimizer)
    return model

In [3]:
boston  = datasets.load_boston()
boston.data = (boston.data - boston.data.mean(axis=0)) / boston.data.std(axis=0)
boston.target = (boston.target - boston.target.mean(axis=0)) / boston.target.std(axis=0)

boston.data = boston.data[:,0:NC]
# boston.target = boston.data[:,1]

train_X, test_X, train_y, test_y = train_test_split(boston.data, boston.target, train_size=0.8, test_size=0.2, random_state=1960)
train_X = train_X.reshape(train_X.shape[0] , 1, train_X.shape[1])
test_X = test_X.reshape(test_X.shape[0] , 1, test_X.shape[1])

In [4]:
# train_X

In [5]:
#boston.target

In [6]:

from keras.wrappers.scikit_learn import KerasRegressor

clf = KerasRegressor(build_fn=create_model, batch_size=1, epochs=12, verbose=2)

print(train_X.shape , train_y.shape, train_X.dtype , train_y.dtype)
clf.fit(train_X, train_y)

(404, 1, 13) (404,) float64 float64
Epoch 1/12
 - 1s - loss: 0.4152
Epoch 2/12
 - 1s - loss: 0.3779
Epoch 3/12
 - 1s - loss: 0.5066
Epoch 4/12
 - 1s - loss: 0.5169
Epoch 5/12
 - 1s - loss: 0.4786
Epoch 6/12
 - 1s - loss: 0.5284
Epoch 7/12
 - 1s - loss: 0.5092
Epoch 8/12
 - 1s - loss: 0.4634
Epoch 9/12
 - 1s - loss: 0.5034
Epoch 10/12
 - 1s - loss: 0.5527
Epoch 11/12
 - 1s - loss: 0.5294
Epoch 12/12
 - 1s - loss: 0.5406

In [7]:
print(test_X.shape)
preds = clf.predict(test_X)
clf.model.reset_states()
print(preds)

(102, 1, 13)
[-0.13990413 -0.49634501 -0.3998435  -0.33324748  0.03652939 -0.49634501
 -0.49634501 -0.48721469 -0.49634501 -0.49634501 -0.49634501 -0.49634501
  0.14033079 -0.49634501  1.52429822 -0.49634501  1.68447068 -0.49634501
 -0.49634501  1.15787203 -0.49634501  2.68152703 -0.49634501  0.68400461
 -0.49634501 -0.27459495 -0.49634501 -0.49634501  0.21643075 -0.49634501
  0.56882751 -0.49634501 -0.49634501  1.53645988 -0.49634501  0.16216632
 -0.48807118 -0.49634501 -0.49623185  1.10702298 -0.49634501 -0.46756264
 -0.19462857 -0.49634501 -0.37754002 -0.3384696   0.00398761 -0.49634501
 -0.49634501 -0.49634501 -0.49560747 -0.49628708 -0.49634501  1.917483
 -0.49634501 -0.49634501  1.79298506 -0.49634501 -0.27103459 -0.47007884
 -0.45164406  1.73372738 -0.49634501  0.07662162 -0.49634501  1.65367332
 -0.49634501 -0.49634501 -0.49634501  0.58142615 -0.49634501  2.22291877
 -0.49634501 -0.240752   -0.07048631 -0.49634501  1.7257234  -0.49634501
 -0.49634501  1.26892235 -0.49634501  0.58954161 -0.49634501 -0.49634501
 -0.49634501  0.1214197  -0.49634501  1.89920441 -0.49634501  1.26233783
 -0.49634501  1.30275456 -0.49634501 -0.49634501  0.1447707  -0.49634501
  1.85790451 -0.49634501  0.33802614 -0.49634501  0.73863981 -0.49634501]

In [8]:
pd.DataFrame(boston.data).describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02,5.060000e+02
mean,-5.616939e-17,6.319056e-17,-3.145486e-15,-2.106352e-17,2.752300e-15,-1.150770e-14,-1.137430e-15,7.582867e-16,5.616939e-17,5.616939e-17,-1.022283e-14,8.593916e-15,-5.897786e-16
std,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00,1.000990e+00
min,-4.197819e-01,-4.877224e-01,-1.557842e+00,-2.725986e-01,-1.465882e+00,-3.880249e+00,-2.335437e+00,-1.267069e+00,-9.828429e-01,-1.313990e+00,-2.707379e+00,-3.907193e+00,-1.531127e+00
25%,-4.109696e-01,-4.877224e-01,-8.676906e-01,-2.725986e-01,-9.130288e-01,-5.686303e-01,-8.374480e-01,-8.056878e-01,-6.379618e-01,-7.675760e-01,-4.880391e-01,2.050715e-01,-7.994200e-01
50%,-3.906665e-01,-4.877224e-01,-2.110985e-01,-2.725986e-01,-1.442174e-01,-1.084655e-01,3.173816e-01,-2.793234e-01,-5.230014e-01,-4.646726e-01,2.748590e-01,3.811865e-01,-1.812536e-01
75%,7.396560e-03,4.877224e-02,1.015999e+00,-2.725986e-01,5.986790e-01,4.827678e-01,9.067981e-01,6.623709e-01,1.661245e+00,1.530926e+00,8.065758e-01,4.336510e-01,6.030188e-01
max,9.933931e+00,3.804234e+00,2.422565e+00,3.668398e+00,2.732346e+00,3.555044e+00,1.117494e+00,3.960518e+00,1.661245e+00,1.798194e+00,1.638828e+00,4.410519e-01,3.548771e+00

# Generate SQL Code from the Model

In [9]:
import json, requests, base64, dill as pickle, sys



sys.setrecursionlimit(200000)
pickle.settings['recurse'] = False

def test_ws_sql_gen(pickle_data):
    WS_URL="https://sklearn2sql.herokuapp.com/model"
    b64_data = base64.b64encode(pickle_data).decode('utf-8')
    data={"Name":"model1", "PickleData":b64_data , "SQLDialect":"postgresql"}
    r = requests.post(WS_URL, json=data)
    # print(r.__dict__)
    content = r.json()
    # print(content)
    lSQL = content["model"]["SQLGenrationResult"][0]["SQL"]
    return lSQL;

In [10]:
pickle_data = pickle.dumps(clf)
lSQL = test_ws_sql_gen(pickle_data)

In [11]:
print(lSQL)

WITH RECURSIVE keras_input AS
(SELECT "ADS"."KEY" AS "KEY", "ADS"."Feature_0" AS "Feature_0", "ADS"."Feature_1" AS "Feature_1", "ADS"."Feature_2" AS "Feature_2", "ADS"."Feature_3" AS "Feature_3", "ADS"."Feature_4" AS "Feature_4", "ADS"."Feature_5" AS "Feature_5", "ADS"."Feature_6" AS "Feature_6", "ADS"."Feature_7" AS "Feature_7", "ADS"."Feature_8" AS "Feature_8", "ADS"."Feature_9" AS "Feature_9", "ADS"."Feature_10" AS "Feature_10", "ADS"."Feature_11" AS "Feature_11", "ADS"."Feature_12" AS "Feature_12"
FROM "INPUT_DATA" AS "ADS"),
keras_input_1 AS
(SELECT keras_input."KEY" AS "KEY", keras_input."Feature_0" AS "Feature_0", keras_input."Feature_1" AS "Feature_1", keras_input."Feature_2" AS "Feature_2", keras_input."Feature_3" AS "Feature_3", keras_input."Feature_4" AS "Feature_4", keras_input."Feature_5" AS "Feature_5", keras_input."Feature_6" AS "Feature_6", keras_input."Feature_7" AS "Feature_7", keras_input."Feature_8" AS "Feature_8", keras_input."Feature_9" AS "Feature_9", keras_input."Feature_10" AS "Feature_10", keras_input."Feature_11" AS "Feature_11", keras_input."Feature_12" AS "Feature_12"
FROM keras_input),
keras_input_1_rn AS
(SELECT row_number() OVER (ORDER BY keras_input_1."KEY" ASC) AS rn, keras_input_1."KEY" AS "KEY", keras_input_1."Feature_0" AS "Feature_0", keras_input_1."Feature_1" AS "Feature_1", keras_input_1."Feature_2" AS "Feature_2", keras_input_1."Feature_3" AS "Feature_3", keras_input_1."Feature_4" AS "Feature_4", keras_input_1."Feature_5" AS "Feature_5", keras_input_1."Feature_6" AS "Feature_6", keras_input_1."Feature_7" AS "Feature_7", keras_input_1."Feature_8" AS "Feature_8", keras_input_1."Feature_9" AS "Feature_9", keras_input_1."Feature_10" AS "Feature_10", keras_input_1."Feature_11" AS "Feature_11", keras_input_1."Feature_12" AS "Feature_12"
FROM keras_input_1),
"lstm_input_layer.kernel_bias" AS
(SELECT keras_input_1_rn.rn AS rn, keras_input_1_rn."KEY" AS "KEY", keras_input_1_rn."Feature_0" AS "Feature_0", keras_input_1_rn."Feature_1" AS "Feature_1", keras_input_1_rn."Feature_2" AS "Feature_2", keras_input_1_rn."Feature_3" AS "Feature_3", keras_input_1_rn."Feature_4" AS "Feature_4", keras_input_1_rn."Feature_5" AS "Feature_5", keras_input_1_rn."Feature_6" AS "Feature_6", keras_input_1_rn."Feature_7" AS "Feature_7", keras_input_1_rn."Feature_8" AS "Feature_8", keras_input_1_rn."Feature_9" AS "Feature_9", keras_input_1_rn."Feature_10" AS "Feature_10", keras_input_1_rn."Feature_11" AS "Feature_11", keras_input_1_rn."Feature_12" AS "Feature_12", 0.6475004717009399 + -0.2158820747194295 * keras_input_1_rn."Feature_0" + 0.2238372261379932 * keras_input_1_rn."Feature_1" + -0.25320975742283414 * keras_input_1_rn."Feature_2" + 0.1672933744145996 * keras_input_1_rn."Feature_3" + 0.2149260299246631 * keras_input_1_rn."Feature_4" + 1.7351169684456662 * keras_input_1_rn."Feature_5" + -0.2306316399798647 * keras_input_1_rn."Feature_6" + -0.24047349548791963 * keras_input_1_rn."Feature_7" + 0.2746322335390276 * keras_input_1_rn."Feature_8" + -0.2895983740641028 * keras_input_1_rn."Feature_9" + -0.516727711354856 * keras_input_1_rn."Feature_10" + 0.13975814827769037 * keras_input_1_rn."Feature_11" + -0.3928755012620301 * keras_input_1_rn."Feature_12" AS dot_prod_i_1, -0.6102993476229848 + 0.7119030392498868 * keras_input_1_rn."Feature_0" + -0.17416868418734888 * keras_input_1_rn."Feature_1" + 0.7674353209278433 * keras_input_1_rn."Feature_2" + -0.1521662813721242 * keras_input_1_rn."Feature_3" + 0.6882096017471009 * keras_input_1_rn."Feature_4" + 0.324764228648504 * keras_input_1_rn."Feature_5" + -0.18652324183746016 * keras_input_1_rn."Feature_6" + -0.36877495814665934 * keras_input_1_rn."Feature_7" + 0.963852041076395 * keras_input_1_rn."Feature_8" + 0.8510674564392534 * keras_input_1_rn."Feature_9" + -0.06057484767029185 * keras_input_1_rn."Feature_10" + -0.6475048523072433 * keras_input_1_rn."Feature_11" + 0.15684124173575603 * keras_input_1_rn."Feature_12" AS dot_prod_f_1, 1.5113562822561797 + -0.6360621560642756 * keras_input_1_rn."Feature_0" + 0.07021960854110393 * keras_input_1_rn."Feature_1" + -0.10648696146467895 * keras_input_1_rn."Feature_2" + -0.06781430679956336 * keras_input_1_rn."Feature_3" + -0.0234451999086851 * keras_input_1_rn."Feature_4" + 1.3899058447142916 * keras_input_1_rn."Feature_5" + -0.4178301029832567 * keras_input_1_rn."Feature_6" + -0.2186342554333779 * keras_input_1_rn."Feature_7" + -0.21527101228808798 * keras_input_1_rn."Feature_8" + -0.46100394131537065 * keras_input_1_rn."Feature_9" + -0.6706540874222692 * keras_input_1_rn."Feature_10" + 0.39262699144907254 * keras_input_1_rn."Feature_11" + -0.7463148651176916 * keras_input_1_rn."Feature_12" AS dot_prod_c_1, 1.2813267317694246 + -0.664201821629264 * keras_input_1_rn."Feature_0" + 0.03501540733563404 * keras_input_1_rn."Feature_1" + -0.28926547768571875 * keras_input_1_rn."Feature_2" + 0.3022299027378959 * keras_input_1_rn."Feature_3" + -0.487447801195879 * keras_input_1_rn."Feature_4" + 0.6748688764019186 * keras_input_1_rn."Feature_5" + -0.5383467959964188 * keras_input_1_rn."Feature_6" + -0.004024643047857606 * keras_input_1_rn."Feature_7" + -0.1012163305970956 * keras_input_1_rn."Feature_8" + -0.37218081783599916 * keras_input_1_rn."Feature_9" + -0.6526910062496021 * keras_input_1_rn."Feature_10" + 0.588824423046897 * keras_input_1_rn."Feature_11" + -1.2158217400116675 * keras_input_1_rn."Feature_12" AS dot_prod_o_1
FROM keras_input_1_rn),
rnn_cte_lstm_1(rn_1, "KEY", "PreviousState_1", "PreviousState_2", "State_1", "State_2") AS
(SELECT "lstm_input_layer.kernel_bias".rn AS rn_1, "lstm_input_layer.kernel_bias"."KEY" AS "KEY", CAST(0.0 AS FLOAT) AS "PreviousState_1", CAST(0.0 AS FLOAT) AS "PreviousState_2", greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_o_1 + 0.0) + 0.5)) * greatest(greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_i_1 + 0.0) + 0.5)) * greatest("lstm_input_layer.kernel_bias".dot_prod_c_1 + 0.0, 0) + greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_f_1 + 0.0) + 0.5)) * 0.0, 0) AS "State_1", greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_i_1 + 0.0) + 0.5)) * greatest("lstm_input_layer.kernel_bias".dot_prod_c_1 + 0.0, 0) + greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_f_1 + 0.0) + 0.5)) * 0.0 AS "State_2"
FROM "lstm_input_layer.kernel_bias"
WHERE "lstm_input_layer.kernel_bias".rn = 1 UNION ALL SELECT "lstm_input_layer.kernel_bias".rn AS rn, "lstm_input_layer.kernel_bias"."KEY" AS "KEY", rnn_cte_lstm_1."State_1" AS "PreviousState_1", rnn_cte_lstm_1."State_2" AS "PreviousState_2", greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_o_1 + -1.494396033820323 * rnn_cte_lstm_1."State_1") + 0.5)) * greatest(greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_i_1 + -1.9969204331168193 * rnn_cte_lstm_1."State_1") + 0.5)) * greatest("lstm_input_layer.kernel_bias".dot_prod_c_1 + -1.960457767080738 * rnn_cte_lstm_1."State_1", 0) + greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_f_1 + -1.9400724565523353 * rnn_cte_lstm_1."State_1") + 0.5)) * rnn_cte_lstm_1."State_2", 0) AS "State_1", greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_i_1 + -1.9969204331168193 * rnn_cte_lstm_1."State_1") + 0.5)) * greatest("lstm_input_layer.kernel_bias".dot_prod_c_1 + -1.960457767080738 * rnn_cte_lstm_1."State_1", 0) + greatest(0.0, least(1.0, 0.2 * ("lstm_input_layer.kernel_bias".dot_prod_f_1 + -1.9400724565523353 * rnn_cte_lstm_1."State_1") + 0.5)) * rnn_cte_lstm_1."State_2" AS "State_2"
FROM "lstm_input_layer.kernel_bias", rnn_cte_lstm_1
WHERE "lstm_input_layer.kernel_bias".rn = rnn_cte_lstm_1.rn_1 + 1),
lstm_1 AS
(SELECT rnn_cte_lstm_1."KEY" AS "KEY", CAST(rnn_cte_lstm_1."State_1" AS FLOAT) AS output_1
FROM rnn_cte_lstm_1),
lstm_1_1 AS
(SELECT lstm_1."KEY" AS "KEY", lstm_1.output_1 AS output_1
FROM lstm_1),
layer_dense_1 AS
(SELECT lstm_1_1."KEY" AS "KEY", -0.4963450083727642 + 0.37008790284834636 * lstm_1_1.output_1 AS output_1
FROM lstm_1_1)
 SELECT layer_dense_1."KEY" AS "KEY", layer_dense_1.output_1 AS "Estimator"
FROM layer_dense_1

# Execute the SQL Code

In [12]:
# save the dataset in a database table


import sqlalchemy as sa

#engine = sa.create_engine('sqlite://' , echo=False)
engine = sa.create_engine("postgresql://db:db@localhost/db?port=5432", echo=False)
conn = engine.connect()

lTable = pd.DataFrame(boston.data);
lTable.columns = ['Feature_' + str(x) for x in range(boston.data.shape[1]) ]
lTable['TGT'] = boston.target
lTable['KEY'] = range(boston.data.shape[0])
lTable.to_sql("INPUT_DATA" , conn,   if_exists='replace', index=False)

/home/antoine/.local/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [13]:
sql_output = pd.read_sql(lSQL , conn);
sql_output = sql_output.sort_values(by='KEY').reset_index(drop=True)
conn.close()

In [14]:
sql_output.sample(12, random_state=1960)

     KEY  Estimator
230  230  -0.059490
112  112  -0.496345
125  125  -0.411700
9      9  -0.185947
213  213  -0.018767
109  109  -0.494333
127  127  -0.493254
244  244  -0.496345
406  406  -0.496345
490  490  -0.496345
245  245  -0.496345
133  133  -0.483684

# Keras Prediction

In [15]:
#clf.model.reset_states()
skl_output = pd.DataFrame()
skl_output_key = pd.DataFrame(list(range(boston.data.shape[0])), columns=['KEY']);
data = boston.data.reshape(boston.data.shape[0] , 1, boston.data.shape[1])
skl_out = clf.predict(data)
print(skl_out.shape)
skl_output_estimator = pd.DataFrame(skl_out, columns=['Estimator'])
skl_output['KEY'] = skl_output_key['KEY']
skl_output['Estimator'] = skl_output_estimator
skl_output.sample(12, random_state=1960)

(506,)

     KEY  Estimator
230  230  -0.059490
112  112  -0.496345
125  125  -0.411700
9      9  -0.185947
213  213  -0.018767
109  109  -0.494333
127  127  -0.493254
244  244  -0.496345
406  406  -0.496345
490  490  -0.496345
245  245  -0.496345
133  133  -0.483684

# Comparing the SQL and Keras Predictions

In [16]:
sql_skl_join = skl_output.join(sql_output , how='left', on='KEY', lsuffix='_skl', rsuffix='_sql')
sql_skl_join['Error'] = sql_skl_join.Estimator_sql - sql_skl_join.Estimator_skl

In [17]:
sql_skl_join.head(12)

    KEY_skl  Estimator_skl  KEY_sql  Estimator_sql         Error
0         0       1.363376        0       1.363376 -3.330669e-15
1         1      -0.496345        1      -0.496345  1.665335e-16
2         2       1.545318        2       1.545318 -3.330669e-15
3         3      -0.496345        3      -0.496345  1.665335e-16
4         4       1.405068        4       1.405068 -1.110223e-15
5         5      -0.496345        5      -0.496345  1.665335e-16
6         6       0.167765        6       0.167765 -5.551115e-17
7         7      -0.496345        7      -0.496345  1.665335e-16
8         8      -0.496345        8      -0.496345  1.665335e-16
9         9      -0.185947        9      -0.185947 -2.775558e-17
10       10      -0.464172       10      -0.464172  4.996004e-16
11       11      -0.043747       11      -0.043747 -4.163336e-17

In [18]:
sql_skl_join.describe()

          KEY_skl  Estimator_skl     KEY_sql  Estimator_sql         Error
count  506.000000     506.000000  506.000000     506.000000  5.060000e+02
mean   252.500000      -0.107125  252.500000      -0.107125  9.535837e-17
std    146.213884       0.718815  146.213884       0.718815  9.630438e-16
min      0.000000      -0.496345    0.000000      -0.496345 -5.329071e-15
25%    126.250000      -0.496345  126.250000      -0.496345 -5.551115e-17
50%    252.500000      -0.490673  252.500000      -0.490673  1.665335e-16
75%    378.750000      -0.124858  378.750000      -0.124858  1.665335e-16
max    505.000000       2.864752  505.000000       2.864752  4.884981e-15